<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="device">
            <h2><span>Device</span> {{device.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Device Id</span></dt>
                <dd>
                    <span>{{device.deviceId}}</span>
                </dd>
                <dt><span>Owner Id</span></dt>
                <dd>
                    <span>{{device.ownerId}}</span>
                </dd>
                <dt><span>Created</span></dt>
                <dd>
                    <span>{{device.created}}</span>
                </dd>
                <dt><span>Purchased</span></dt>
                <dd>
                    <span>{{device.purchased}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/device', device.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
