<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sensor-data-heading">Create or edit a Sensor Data</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deviceId">Device Id</label>
                    <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                           formControlName="deviceId"/>
                    <div *ngIf="editForm.get('deviceId').invalid && (editForm.get('deviceId').dirty || editForm.get('deviceId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deviceId').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_temperature">Temperature</label>
                    <input type="number" class="form-control" name="temperature" id="field_temperature"
                           formControlName="temperature"/>
                    <div *ngIf="editForm.get('temperature').invalid && (editForm.get('temperature').dirty || editForm.get('temperature').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('temperature').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('temperature')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_co_ppm">Co Ppm</label>
                    <input type="number" class="form-control" name="co_ppm" id="field_co_ppm"
                           formControlName="co_ppm"/>
                    <div *ngIf="editForm.get('co_ppm').invalid && (editForm.get('co_ppm').dirty || editForm.get('co_ppm').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('co_ppm').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('co_ppm')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lp_gas_ppm">Lp Gas Ppm</label>
                    <input type="number" class="form-control" name="lp_gas_ppm" id="field_lp_gas_ppm"
                           formControlName="lp_gas_ppm"/>
                    <div *ngIf="editForm.get('lp_gas_ppm').invalid && (editForm.get('lp_gas_ppm').dirty || editForm.get('lp_gas_ppm').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lp_gas_ppm').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lp_gas_ppm')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_particle_ppm">Particle Ppm</label>
                    <input type="number" class="form-control" name="particle_ppm" id="field_particle_ppm"
                           formControlName="particle_ppm"/>
                    <div *ngIf="editForm.get('particle_ppm').invalid && (editForm.get('particle_ppm').dirty || editForm.get('particle_ppm').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('particle_ppm').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('particle_ppm')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_epoch">Epoch</label>
                    <input type="text" class="form-control" name="epoch" id="field_epoch"
                           formControlName="epoch"/>
                    <div *ngIf="editForm.get('epoch').invalid && (editForm.get('epoch').dirty || editForm.get('epoch').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('epoch').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
