<div>
    <h2 id="page-heading">
        <span>Sensor Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sensor-data" [routerLink]="['/sensor-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Sensor Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sensorData?.length === 0">
        <span>No sensorData found</span>
    </div>
    <div class="table-responsive" *ngIf="sensorData?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deviceId"><span>Device Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="temperature"><span>Temperature</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="co_ppm"><span>Co Ppm</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lp_gas_ppm"><span>Lp Gas Ppm</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="particle_ppm"><span>Particle Ppm</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="epoch"><span>Epoch</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sensorData of sensorData ;trackBy: trackId">
                <td><a [routerLink]="['/sensor-data', sensorData.id, 'view' ]">{{sensorData.id}}</a></td>
                <td>{{sensorData.deviceId}}</td>
                <td>{{sensorData.temperature}}</td>
                <td>{{sensorData.co_ppm}}</td>
                <td>{{sensorData.lp_gas_ppm}}</td>
                <td>{{sensorData.particle_ppm}}</td>
                <td>{{sensorData.epoch}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sensor-data', sensorData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sensor-data', sensorData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sensor-data', { outlets: { popup: sensorData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="sensorData?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
